<div class="container">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 150%;">
                <div class="modal-header bg-light">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> New Task </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addTaskForm">
                        <div class="partation">
                            <div class="div2" style="padding: 0 40px 0px 25px">
                                <div class="row">
                                    <div class="mb-3 col">
                                        <label for="exampleFormControlInput1" class="form-label"><span
                                                style="color:red">*</span> Assigned To </label>
                                        <select class="form-select" aria-label="Default select example" formControlName="assignedTo">
                                            <option value="User 1"> User 1 </option>
                                            <option value="User 2"> User 2 </option>
                                            <option value="User 3"> User 3 </option>
                                            <option value="User 4"> User 4 </option>
                                        </select>
                                    </div>
                                    <div class="mb-3 col">
                                        <label for="exampleFormControlInput1" class="form-label"> <span
                                                style="color:red">*</span> Status </label>
                                        <select class="form-select" aria-label="Default select example"
                                            formControlName="statusData">
                                            <option selected> Status </option>
                                            <option value="Completed"> Completed </option>
                                            <option value="In Progres">In Progress</option>
                                            <option value="Not Started">Not Started</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col">
                                        <label for="exampleFormControlInput1" class="form-label"> Due Date</label>
                                        <input type="date" class="form-control" formControlName="dueDate">
                                    </div>
                                    <div class="mb-3 col">
                                        <label for="exampleFormControlInput1" class="form-label"> <span
                                                style="color:red">*</span> Priority </label>
                                        <select class="form-select" aria-label="Default select example"
                                            formControlName="priorityWise">
                                            <option value="Low"> Low </option>
                                            <option value="High"> High </option>
                                            <option value="Normal"> Normal </option>
                                        </select>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label"> Description </label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                        formControlName="descriptionData">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer bg-light">
                    <button type="submit" class="btn bg-warning" data-bs-dismiss="modal"
                        style="padding:6px 20px; border-radius: 2px;"> Cancel </button>
                    <button type="button" class="btn btn-primary" style="padding:6px 20px; border-radius: 2px;"
                        (click)="onFormSubmit()"> Save </button>
                </div>
            </div>
        </div>
    </div>
</div>