
.modal-content {
    width: 150%; 
}

@media (max-width: 576px) {
    .modal-content {
        width: 100%;   
    }
    .modal-header {
        padding: 10px 15px;
    }
    .modal-body {
        padding: 10px;
    }
    .modal-body .form-control, .modal-body .form-select {
        width: 100%;
    }
    .row {
        display: block; 
    }
    .col {
        width: 100%; 
        padding: 5px 0; 
    }
    .modal-footer {
        display: flex;
        justify-content: space-between; 
        padding: 10px;
    }
    .btn {
        width: 35%; 
        padding: 8px 0;
        font-size: 14px;
    }
}

